NEXT_PUBLIC_INSTANT_APP_ID=
INSTANT_APP_ADMIN_TOKEN=

E2B_API_KEY=
TRIGGER_PROJECT_REF=

GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_APP_SLUG=

APP_STATE_SECRET=
SECRET_ENCRYPTION_KEY=
